body {
  padding: 20px 20px 0px 20px;
}

/** List View **/

.phones {
  list-style: none;
}

.phones li {
  clear: left;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  width: 100px;
  margin: -0.5em 1em 1em 0em;
}

/** Detail View **/

h1 {
  border-bottom: 1px solid gray;
}

.phone-image {
  float: left;
  height: 450px;
  width: 450px;
  background-color: white;
}

img.phone {
  float: left;
  height: 400px;
  width: 400px;
  padding: 2em;
  margin-right: 3em;
}

ul.specs {
  list-style: none;
}

ul.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

ul.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}
