body {
  padding-top: 20px;
}

.phones {
  list-style: none;
}

.phones li {
  clear: left;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  width: 100px;
  margin: -0.5em 1em 1em 0em;
}
