<!DOCTYPE html>
<html lang="en-US" ng-app="tddPhoneCatApp" ng-strict-di>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TDD PhoneCat</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
  </head>
  <body ng-controller="tddPhoneListController">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          Search: <input ng-model="searchText">
          Sort by:
          <select ng-model="sortKey">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>
        </div>
        <div class="col-md-10">
          <ul class="phones">
            <li ng-repeat="phone in phones | filter:searchText | orderBy:sortKey">
              <a class="thumb" ng-href="#/phones/{{phone.id}}">
                <img class="thumb" ng-src="{{phone.imageUrl}}">
              </a>
              <a ng-href="#/phones/{{phone.id}}">
                {{phone.name}}
              </a>
              <p>{{phone.snippet}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="app.js"></script>
    <script src="phone-list/phone-list-controller.js"></script>
  </body>
</html>
